main {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 10px;
}
app-square {
  border: 1px gray solid;
  height: 200px;
  width: 200px;
}
h1 {
  margin: 20px 0 40px 0;
  font-size: 3rem;
  text-align: center;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
button {
  background-color: white;
  border: none;
  color: #1e88e5;
  width: 150px;
  height: 75px;
  font-size: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
